body {
    background-image: url("../imagens/background-photo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
}


@media only screen and (max-width: 767px) {
    body {
        background-image: url("../imagens/background-photo-mobile-devices.jpg");
    }
}

